# Docker config
# prod: Dockerfile, dev: Dockerfile.dev
DOCKERFILE=Dockerfile.dev
ENABLE_CACHE=true
ENABLE_DB=true
RUST_LOG=info

# Postgres
POSTGRES_DB=myrtle
POSTGRES_USER=myrtle
POSTGRES_PASSWORD=myrtle

# Backend
DATABASE_URL=postgres://myrtle:myrtle@postgres:5432/myrtle
REDIS_URL=redis://redis:6379

GAME_DATA_DIR=/data/output/gamedata/excel
ASSETS_DIR=/data/output
ASSET_WS_URL=ws://localhost:9160

JWT_SECRET=sample-jwt-secret-key
SERVICE_KEY=sample-internal-service-key

# Frontend
# Follows schema in frontend/src/env.js
BACKEND_URL=http://backend:3060

# Workaround profile
COMPOSE_PROFILES=true
