[submodule "backend/external/ArknightsDpsCompare"]
	path = backend/external/ArknightsDpsCompare
	url = https://github.com/WhoAteMyCQQkie/ArknightsDpsCompare.git
[submodule "assets/OpenArknightsFBS"]
	path = assets/OpenArknightsFBS
	url = https://github.com/MooncellWiki/OpenArknightsFBS
